.myCrousel {
  width: 100%;
  height: 94vh;
  margin-top: 70px;
  position: unset !important;
}

.slide1 {
  background: #f2f6ff;
}
.slide2 {
  background: #f5f8ff;
}
.slide3 {
  background: #f9f9ff;
}

.swiper-slide-active .title {
  transform: translateY(0);
  opacity: 1;
}
.swiper-slide-active .img {
  transform: scale(1);
  opacity: 1;
}

.swiper-slide-active .desc {
  transform: translateY(0);
  opacity: 1;
}
.swiper-slide-active .info {
  opacity: 1;
}
.swiper-slide-active .buttton {
  opacity: 1;
  transform: translateY(0);
}

@media only screen and (max-width: 1280px) {
  .myCrousel {
    height: 84vh;
  }
}

@media only screen and (max-width: 990px) {
  .myCrousel {
    height: 74vh;
  }
}

@media only screen and (max-width: 750px) {
  .myCrousel {
    height: 85vh;
  }
}
/* @media only screen and (max-width: 480px) {
  .myCrousel {
    height: 84vh;
    margin-top: 55px;
    position: unset !important;
  }
}

@media only screen and (max-width: 480px) {
  .mySwiperCards {
    width: 75%;
    height: 17rem;
    margin-left: 25px !important;
  }
} */
