.mySwiper {
  width: 90%;
  height: 17rem;
  position: unset !important;
}

.mySwiper .swiper-slide {
  /* background-image: linear-gradient(135deg, #ffecd2 20%); */
  background-color: #f5f3e9;
  display: flex;
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.mySwiperCards {
  display: none;
}

@media only screen and (max-width: 670px) {
  .mySwiper {
    width: 90%;
    height: 15rem;
  }
}

@media only screen and (max-width: 539px) {
  .mySwiper {
    width: 80%;
    height: 18rem;
    /* display: none; */
  }
  .mySwiperCards {
    display: flex;
    width: 75%;
    height: 17rem;
    overflow: visible !important;
  }
  .mySwiperCards .swiper-slide {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    display: flex;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
  }
}

@media only screen and (max-width: 480px) {
  .mySwiperCards {
    width: 75%;
    height: 17rem;
    margin-left: 25px !important;
  }
}
